{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Produtos</h2>
    <a href="{% url 'product_create' %}" class="btn btn-primary mb-3">Novo Produto</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Imagem</th>
                <th>Nome</th>
                <th>Categoria</th>
                <th>Valor</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td><img src="{{ product.image.url }}" width="50" height="50"></td>
                <td>{{ product.name }}</td>
                <td>{{ product.category.name }}</td>
                <td>R${{ product.value }}</td>
                <td>
                    <a href="{% url 'product_update' product.id %}" class="btn btn-sm btn-warning">Editar</a>
                    <a href="{% url 'product_delete' product.id %}" class="btn btn-sm btn-danger">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
